@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24272E;
    color: white;
    font-family: 'Asap', sans-serif;
}

header {
    background: white;
    padding: 20px;
}

header h1 {
    color: #24272E;
    text-align: center;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;
    color: white;
    font-size: 46px;
    text-align: center;
    position: relative;
    padding: 15px 20px;
}

.badge {
    background: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: sans-serif;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -25px;
}

.result {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.result p {
    margin: 10px 0;
}

.choices {
    margin: 50px 0;
    text-align: center;
}

.choice {
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 10px;
    width: 100px; /* Tamaño del círculo */
    height: 100px;
    font-size: 50px; /* Tamaño del emoji */
    cursor: pointer;
    transition: 0.3s;
}

.choice:hover {
    background: #2f3542;
}

#action-message {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #bdc3c7;
}

/* CLASES PARA EFECTOS VISUALES (JS) */
.green-glow {
    border-color: #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow {
    border-color: #fc121b;
    box-shadow: 0 0 10px #d9534f;
}

.gray-glow {
    border-color: #464646;
    box-shadow: 0 0 10px #333;
}