/* Fuente moderna */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%); /* Degradado atardecer */
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    min-width: 30%;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

/* Estilo del Input y Botón */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#todo-input {
    padding: 0.8rem;
    font-size: 1.2rem;
    border: none;
    background: white;
    width: 70%;
    outline: none;
    border-radius: 5px 0 0 5px; /* Redondeado solo a la izquierda */
}

.todo-btn {
    padding: 0.8rem;
    font-size: 1.2rem;
    border: none;
    background: white;
    color: #ff6f47;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0 5px 5px 0; /* Redondeado solo a la derecha */
}

.todo-btn:hover {
    background: #ff6f47;
    color: white;
}

/* Estilo de la Lista de Tareas */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 90%;
    list-style: none;
    padding: 0;
}

/* Estilo de cada ITEM individual (Generado por JS) */
.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between; /* Texto a la izquierda, botones a la derecha */
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
}

.todo li {
    flex: 1; /* El texto ocupa todo el espacio posible */
    padding: 0 1rem;
}

/* Botones de acción (Check y Delete) */
.trash-btn, .complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: #4caf50;
}

.todo-item {
    padding: 0rem 0.5rem;
}

/* Efecto TACHADO */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
    background-color: #dcdde1; /* Un gris más oscuro */
}

/* Animación de caída al eliminar */
.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}